<div class="card">
    <div class="card-body">
        <div class="cover_pics">
            <img class="cover_Img_inner" src="../assets/images/coverPic.jpg" />
        </div>
        <div>
            <img class="profile_pics" src="../assets/images/profile_pic.jpg" />
        </div>
        <div class="row left_spaces">
            <div class="col-lg-6">
                <div class="profile_name">
                    <h3><strong>Marry Watson</strong></h3>
                </div>
                <div class="address_information">
                    <span> Phoenix, Arizona, USA . Student</span>
                </div>
                <div class="spaces_between_rows">
                    <span class="looking_for">Looking For: <a href="#" class="anchor_text">Admission</a>,
                        <a href="#" class="anchor_text">Job</a>,
                        <a href="#" class="anchor_text">Scholrship</a>
                    </span>
                </div>
                <div class="profile_discription spaces_between_rows">
                    <p>Social media Scholar. Lifelong beer Lover. Reader Total writer.
                        Tweeter guru social media Lifelong beer Lover. Reader Total writer. Social media Scholar.
                        Lifelong beer Lover. Reader Total writer.
                        Tweeter guru social media
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <button class="btn btn-primary">Add To Profile</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-default">Edit Profile <i class="bi bi-pencil"></i></button>
                    </div>
                    <div class="col-lg-3">
                        <i class="bi bi-three-dots-vertical"></i>
                    </div>
                </div>
                <div class="row spaces_between_rows">
                    <div class="col-lg-2 active_tab">
                        <h6><strong>Profile</strong></h6>
                    </div>
                    <div class="col-lg-2 spaces_between_rows">
                        <h6>Posts</h6>
                    </div>
                    <div class="col-lg-2 spaces_between_rows">
                        <h6>Portfolios</h6>
                    </div>
                    <div class="col-lg-2 spaces_between_rows">
                        <h6>Events</h6>
                    </div>
                    <div class="col-lg-2  spaces_between_rows">
                        <h6>Gallary</h6>
                    </div>
                    <div class="col-lg-2 spaces_between_rows">
                        <h6>Saved</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="spaces_between_rows extra_info">
                    <i class="bi bi-usb-symbol"></i>
                    <span> Studied at <a href="#" class="anchor_text">The Australian National Univ..</a>
                    </span>
                </div>
                <div class="spaces_between_rows extra_info">
                    <i style="color: #e7beed;" class="bi bi-usb-symbol"></i>
                    <span> 3.69 CGPA</span>
                </div>
                <div class="spaces_between_rows extra_info">
                    <i style="color: #f9ca24;" class="bi bi-trophy-fill"></i>
                    <span> 7 Bands Ilets | A+ A Level</span>
                </div>
                <div class="spaces_between_rows extra_info">
                    <i style="color: #1ccdf9;" class="bi bi-universal-access"></i>
                    <span> Participant by Talk Tech by Marques at University of Arizona</span>
                </div>
            </div>
        </div>

    </div>
</div>